/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    background-color: #f5f5f5;
}

/* Header */
header {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 80px;
}

.logo {
    float: left;
    padding: 10px;
}

.logo img {
    width: 100px;
}

.search-bar {
    float: right;
    padding: 10px;
}

.search-bar input {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.user-info {
    float: right;
    padding: 10px;
}

.avatar {
    float: left;
    margin-right: 10px;
}

.avatar img {
    width: 50%;
    /* Chiều rộng của hình ảnh */
    height: auto;
    /* Tự động tính toán chiều cao để giữ tỷ lệ khung hình */
    max-width: 100%;
    /* Đảm bảo hình ảnh không vượt quá kích thước của cha */
    border-radius: 50%;
    /* Để tạo hình tròn */
    object-fit: cover;
    /* Đảm bảo hình ảnh không bị bóp méo */
}

.username {
    float: left;
    line-height: 30px;
}

.username strong {
    color: #000;
}

ul {
    margin: 0;
    /* Đảm bảo không có margin mặc định */
    padding: 0;
    /* Đảm bảo không có padding mặc định */
}

ul li {
    margin-bottom: 15px;
    /* Thêm khoảng cách giữa các mục */
}

/* Main */
main {
    padding: 20px;
}

.profile-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

.avatar {
    grid-column: 1;
    grid-row: 1;
}

.info {
    grid-column: 2;
    grid-row: 1;
}

.order-history {
    grid-column: 1 / span 2;
    grid-row: 2;
}

@media (max-width: 768px) {
    .profile-info {
        display: block;
    }

    .avatar,
    .info {
        float: left;
    }

    .order-history {
        clear: both;
    }
}


.order-history h2 {
    margin-bottom: 10px;
    color: #000;
}

.order-history table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.order-history table th,
td {
    padding: 5px;
    border: 1px solid #ddd;
}

.order-history a {
    text-decoration: none;
    color: #008000;
    font-weight: bold;
    float: right;
}

/* Wishlist */
.wishlist {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.wishlist h2 {
    margin-bottom: 10px;
    color: #000;
}